.poster {
    width: 100%;
    padding: 0;
    overflow: hidden;

    &__image {
        width: 100%;
        object-fit: cover;
        border-radius: 4px 4px 0 0;
        user-select: none;
        transition: 0.4s;
    }

    &__content {
        padding: 5px 5px;

        p {
            font-size: 14px;
        }
    }

    &__title {
        display: inherit;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
}

// xs
@media screen and (max-width: 599px) {}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
    .poster>img {
        height: auto;
    }
}

// md
@media screen and (min-width: 960px) and (max-width: 1279px) {}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {}

// xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {}

.card {
    margin-bottom: 1rem;
    background: rgb(66, 66, 66, 0.4);
    padding: 0;
}

.movie-rating {
    font-size: 12px;
}

.rating {
    position: absolute;
    right: 0;
    background: rgb(66, 66, 66, 0.8);
}

.poster_content {
    margin: 0 !important;
}